Binding/Android/Jars/LibBlinkInput.aar filter=lfs diff=lfs merge=lfs -text
Binding/iOS/Microblink.framework/ filter=lfs diff=lfs merge=lfs -text
Binding/iOS/Microblink.framework/Microblink filter=lfs diff=lfs merge=lfs -text
